---
// /src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import GuideCard from "../components/GuideCard.astro";
import { homeCards } from "../data/cards";
const title = "electrocute club";
---
<BaseLayout {title}>
  <section class="section-head container">
    <h2>gentle volts, bright bolts</h2>
    <span class="hint mono">a soft-start to electronics</span>
  </section>

  <section class="container grid">
    {homeCards.map(card => <GuideCard {...card} />)}
  </section>
</BaseLayout>
